{% assign months = "Gennaio|Febbraio|Marzo|Aprile|Maggio|Giugno|Luglio|Agosto|Settembre|Ottobre|Novembre|Dicembre" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}

<header class="header-post" role="banner">
    <div class="content">
        {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date }}" class="date">
              <!-- {{ page.date | date_to_string }} -->
              {{ page.date | date: "%d" }}
              {% assign m = page.date | date: "%-m" | minus: 1 %}
              {{ months[m] }}
              {{ page.date | date: "%Y" }}
            </time>
        {% endif %}
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        <p itemprop="description" class="subtitle">{{ page.description }}</p>
    </div>
     <a class="down" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
     {% include menu-search.html %}
</header>
